body {
  background-color: rgb(50, 50, 50);
}

.highlight {
  text-align: center;
  color: white;
}

.highlight h1 {
  margin: 60px 0px 30px 0px;
}

.highlight hr {
  width: 95%;
  height: .8px;
  background-color: white;
  box-shadow: 0 -10px 7px -7px grey inset;
}

.pic-info {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.white-box {
  background-color: white;
  color: black;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 -10px 7px -7px grey inset;
  align-items: center;
  padding: 0px 10px;
  margin-right: 20px;
  margin-top: 20px;
  width: 35%;
  border-radius: 4px;
}

.white-box .white-box-content {
  text-align: left;
  margin: 0 100px 0 10px;
  font-size: small;
}

.white-box .white-box-content-pic img {
  height: 100px;
  width: 150px;
}

.white-box .white-box-content .Head {
  margin-bottom: 3px;
  font-size: large;
  font-weight: 600;
}

.courses {
  background-color: white;
  width: 100%;
  color: rgb(39, 39, 39);
  margin-top: 50px;
  text-align: center;
  padding: 20px 0;
}

.courses .pic-row {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: flex-end;
  margin: 0px 90px 0px 0px;
}

.courses .head p,
.scope p {
  text-align: left;
  color: rgb(82, 82, 82);
  font-size: small;
  display: flex;
  justify-content: center;
}

.lib {
  width: 60%;
  height: 90%;
  border-radius: 25px;
  display: flex;
  margin-left: 5%;
  justify-content: left;
  margin-top: 50px;
  position: absolute;
}

.courses .pic-row .content {
  width: 25%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 20px;
  border-radius: 10px;
  margin-left: 25px;
  background-color: white;
  z-index: 99999;
  line-height: 1;
}

.courses .pic-row .content .course1 h3 {
  color: rgb(233, 6, 67);
  margin: 0px 20px 0px 0px;
  text-align: left;
}

.courses .pic-row .content .course1 .line {
  color: rgb(233, 6, 67);
  width: 90%;
  height: .8px;
  border-bottom: 3px dashed;
}

.courses .pic-row .content .course1 .crs {
  display: flex;
  align-items: center;

}

.courses .pic-row .content .course1 .crs img {
  width: 50px;
  height: 40px;
  border-radius: 0%;
  margin: 10px 20px 10px 0;
}


.courses .pic-row .content .course1 .crs p {
  font-weight: 600;
}

.scope {
  background-color: bisque;
  padding: 10px;
}

.scope .head {
  display: flex;
  justify-content: center;
  align-items: center;
}

.scope .head .vertical-line {
  margin-top: 20px;
  width: 4px;
  height: 100px;
  background-color: rgb(229, 149, 0);
  margin-right: 30px;
}

.scope .head .heading {
  margin-top: 20px;
}

.scope .box{
  margin-left: 30px;
}

.scope .box .sub-box1 {
  background-color: black;
  color: #ffffff;
  width: 20%;
  text-align: center;
  height: 40px;
  border-radius: 0px 15px 0px 15px;
  position: relative;
  top: 20px;
  right: 15px;
}

.scope .box .sub-box2 {
  padding: 5px;
  box-shadow: 12px 12px 2px 1px rgb(117, 73, 19);
  background-color: white;
  border-radius: 10px;
}

.boxes{
  display: flex;
  padding: 10px;
}